<header>
  <div class="logo-container">
    <img src="/images/logo.svg" alt="Bomb Coffee Logo">
  </div>
  <div class="menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>
